In [1]:
import pandas as pd
import numpy as np
import csv

In [62]:
df_traffic = pd.read_csv("./data/traffic.csv", encoding="cp949")

In [63]:
df_traffic = df_traffic.drop(columns="점유율")
df_traffic = df_traffic.rename(columns={"시간대": "time"})
df_traffic = df_traffic.set_index("time")

In [64]:
df_traffic

,입구-1종,입구-2종,입구-3종,입구-4종,입구-5종,출구-1종,출구-2종,출구-3종,출구-4종,출구-5종
time,,,,,,,,,,
00 ~ 01,2266519,86990,46585,99671,90451,2758808,82489,59624,92853,98633
01 ~ 02,1424840,92447,40772,93310,99455,1686107,87985,37690,96764,98062
02 ~ 03,1065518,100538,43790,78569,108245,1197769,93609,39910,103824,110505
03 ~ 04,1123022,127886,60023,88135,156425,1050080,111999,45270,111620,144359
04 ~ 05,2307490,184323,100678,138525,243355,1546115,139430,67952,150054,210660
05 ~ 06,7566886,301576,253629,197676,331636,5069618,213462,176806,216667,334766
06 ~ 07,11889225,380784,362799,188139,290582,9450591,352002,342266,285782,398474
07 ~ 08,13038414,303262,380171,143558,256888,11845679,333740,358733,212701,330336
08 ~ 09,13157418,319493,338552,178801,321072,12547932,320796,314056,207768,335500
09 ~ 10,13157726,366369,318681,241370,388016,12693613,371028,326381,242586,356362
10 ~ 11,12785098,387796,307507,280414,407719,12885392,408247,330915,287291,383218
11 ~ 12,12186621,388833,292969,275651,382189,12784425,398850,321084,287470,400316
12 ~ 13,12175154,353960,282535,249067,330280,12475975,385300,317135,289687,373470
13 ~ 14,13033266,329855,268191,222832,301065,13125725,343178,285368,248833,331526
14 ~ 15,13386089,333621,279507,237650,317171,13615728,352686,288092,243139,326974
15 ~ 16,13748005,288670,260274,213197,267470,14185433,334508,274010,218807,277629
16 ~ 17,14598978,239271,234858,178878,203224,14948391,277227,247335,170619,199279
17 ~ 18,14145053,191903,234249,146983,145558,15225812,207310,222448,124540,129107
18 ~ 19,12682541,151875,221459,140969,113732,14513813,155837,257800,108158,96114
19 ~ 20,10502046,144515,201124,154425,123779,12516347,137790,261981,122378,96389
20 ~ 21,9384515,113362,167963,147279,127788,10755135,111225,212981,120847,102424
21 ~ 22,8071474,101228,133284,121794,112936,9461913,88779,170000,106090,102021
22 ~ 23,5740810,93762,116122,109845,101517,7179654,84032,132772,105157,104234
23 ~ 24,3547136,84350,81424,103787,96967,4500922,76630,103312,102970,105294

In [65]:
df_traffic["total"] = df_traffic.sum(axis=1)
df_traffic = df_traffic[["total"]]
df_traffic = df_traffic.reset_index()

In [66]:
new_index = []
new_data = []

for i in range(0, len(df_traffic), 2):
    start_index = int(df_traffic.loc[i, "time"].split()[0])
    end_index = df_traffic.loc[i+1, "time"].split()[1]
    new_index.append(f"{start_index}시~{start_index+2}시")
    new_data.append(df_traffic.loc[i, "total"])
df_traffic = pd.DataFrame({"time": new_index, "total": new_data})
df_traffic = df_traffic.set_index("time")

In [67]:
df_traffic

            total
time
0시~2시     5682623
2시~4시     2942277
4시~6시     5088582
6시~8시    23940644
8시~10시   28041388
10시~12시  28463597
12시~14시  27232563
14시~16시  29380657
16시~18시  31298060
18시~20시  28442298
20시~22시  21243519
22시~24시  13767905

In [68]:
df_traffic.to_csv("./data/pre_traffic.csv", encoding="utf-8")

In [69]:
df = pd.read_csv("./data/pre_traffic.csv", encoding="utf-8")

In [70]:
df

       time     total
0     0시~2시   5682623
1     2시~4시   2942277
2     4시~6시   5088582
3     6시~8시  23940644
4    8시~10시  28041388
5   10시~12시  28463597
6   12시~14시  27232563
7   14시~16시  29380657
8   16시~18시  31298060
9   18시~20시  28442298
10  20시~22시  21243519
11  22시~24시  13767905