In [1]:
import pandas as pd
import numpy as np
import csv

In [58]:
df_return = pd.read_csv("./data/driver_license_return.csv", encoding="cp949")

In [59]:
df_return.rename(columns={"지방청": "city"}, inplace=True)
df_return["city"] = df_return["city"].replace({"경기남부": "경기", "경기북부": "경기"})
df_return = df_return.groupby("city").sum().reset_index()
df_return = df_return.set_index("city")

In [60]:
df_return

,2015 65세 이상,2015 전체,2016 65세 이상,2016 전체,2017 65세 이상,2017 전체,2018 65세 이상,2018 전체,2019 65세 이상,2019 전체,2020 65세 이상,2020 전체,2021 65세 이상,2021 전체,2022 65세 이상,2022 전체,2023 65세이상,2023 전체
city,,,,,,,,,,,,,,,,,,
강원,56,78,93,119,151,173,454,487,1382,1420,3428,3454,3210,3229,4019,4058,3642,3689
경기,295,410,452,574,812,941,1582,1788,19744,19980,18925,19098,21099,21229,27238,27541,26418,26659
경남,75,111,97,124,212,252,496,558,3813,3874,4341,4403,4287,4345,5713,5784,5706,5780
경북,27,42,28,52,123,151,313,341,1104,1149,4133,4162,4145,4175,4948,5015,4926,4980
광주,24,28,44,54,95,114,242,257,1603,1640,2337,2350,2325,2334,2983,3000,2579,2599
대구,124,167,146,178,216,251,381,425,5270,5331,5064,5107,5749,5765,7145,7184,5784,5833
대전,52,76,63,83,101,122,153,173,1973,2001,2443,2471,2514,2531,3495,3525,3055,3105
부산,128,169,214,265,407,461,5280,5361,9846,9952,6822,6878,7147,7201,10585,10688,11109,11196
서울,348,451,447,561,799,928,1387,1551,17393,17602,14296,14440,15391,15465,23066,23246,26005,26195
세종,0,0,0,0,0,0,0,0,52,57,63,69,121,123,111,117,241,245
울산,23,36,31,51,49,63,145,169,270,292,1636,1651,1443,1453,1488,1506,1622,1646
인천,129,217,100,142,245,306,455,512,3978,4046,1785,1840,4847,4874,6154,6221,6100,6185
전남,24,30,50,65,62,75,181,202,1671,1714,2122,2149,2299,2317,3630,3651,3512,3543
전북,28,37,27,34,125,156,314,337,942,967,3405,3433,3363,3378,4299,4340,4424,4451
제주,16,25,21,30,61,68,98,110,1139,1152,1072,1079,1004,1014,1330,1346,1304,1322
충남,17,31,34,51,99,113,222,253,1830,1882,2423,2459,2885,2907,3887,3939,3576,3626
충북,49,76,56,79,124,143,214,245,1283,1321,1707,1741,2168,2186,2851,2884,2893,2926

In [61]:
df_return = df_return[df_return.columns[df_return.columns.str.contains("2019|2020|2021|2022|2023")]]
df_return = df_return[df_return.columns[df_return.columns.str.contains("65")]]
df_return.columns = df_return.columns.str.replace(r'^(\d{4}) (\d{2}세 이상|65세이상)$', r'elderly_\1', regex=True)

In [62]:
df_return

      elderly_2019  elderly_2020  elderly_2021  elderly_2022  elderly_2023
city
강원            1382          3428          3210          4019          3642
경기           19744         18925         21099         27238         26418
경남            3813          4341          4287          5713          5706
경북            1104          4133          4145          4948          4926
광주            1603          2337          2325          2983          2579
대구            5270          5064          5749          7145          5784
대전            1973          2443          2514          3495          3055
부산            9846          6822          7147         10585         11109
서울           17393         14296         15391         23066         26005
세종              52            63           121           111           241
울산             270          1636          1443          1488          1622
인천            3978          1785          4847          6154          6100
전남            1671          2122          2299          3630          3512
전북             942          3405          3363          4299          4424
제주            1139          1072          1004          1330          1304
충남            1830          2423          2885          3887          3576
충북            1283          1707          2168          2851          2893

In [63]:
df_return.to_csv("./data/pre_driver_license_return.csv", encoding="utf-8")

In [64]:
df = pd.read_csv("./data/pre_driver_license_return.csv", encoding="utf-8")

In [65]:
df

   city  elderly_2019  elderly_2020  elderly_2021  elderly_2022  elderly_2023
0    강원          1382          3428          3210          4019          3642
1    경기         19744         18925         21099         27238         26418
2    경남          3813          4341          4287          5713          5706
3    경북          1104          4133          4145          4948          4926
4    광주          1603          2337          2325          2983          2579
5    대구          5270          5064          5749          7145          5784
6    대전          1973          2443          2514          3495          3055
7    부산          9846          6822          7147         10585         11109
8    서울         17393         14296         15391         23066         26005
9    세종            52            63           121           111           241
10   울산           270          1636          1443          1488          1622
11   인천          3978          1785          4847          6154          6100
12   전남          1671          2122          2299          3630          3512
13   전북           942          3405          3363          4299          4424
14   제주          1139          1072          1004          1330          1304
15   충남          1830          2423          2885          3887          3576
16   충북          1283          1707          2168          2851          2893