In [1]:
import pandas as pd
import csv

In [2]:
df_license_21 = pd.read_csv("./data/driver_license_21.csv", encoding="cp949")

In [3]:
df_license_21.rename(columns={"연령대": "age_group"}, inplace=True)
df_license_21 = df_license_21.set_index("age_group")
df_license_21 = df_license_21.drop(columns=["성별"])

In [4]:
df_license_21

,1종_대형,1종_보통,1종_소형,1종_대형견인,1종_소형견인,1종_구난,2종_보통,2종_소형,2종_원자
age_group,,,,,,,,,
16 - 19,724,123916,0,0,0,3,49060,333,11000
16 - 19,44,17336,0,0,0,0,76813,9,395
20 - 24,57332,716912,0,64,18,135,391550,1465,10511
20 - 24,3676,113683,0,3,9,2,697757,104,690
25 - 29,122298,1069951,0,154,69,168,458001,1601,8289
25 - 29,6901,188130,0,8,34,2,1066862,185,827
30 - 34,133178,1152391,0,136,192,139,329439,974,5087
30 - 34,7656,296626,0,17,88,1,1021504,104,1046
35 - 39,177088,1335502,0,131,325,102,258261,884,5213
35 - 39,7628,563504,0,18,149,3,948593,59,1920
40 - 44,255592,1502684,0,205,351,105,225427,884,5598
40 - 44,8049,793911,0,22,125,2,938875,39,1403
45 - 49,314315,1495304,0,390,295,92,240986,775,5854
45 - 49,6781,790614,0,36,84,4,978174,14,1426
50 - 54,366410,1534050,0,467,235,82,272813,872,7866
50 - 54,9193,831175,0,28,51,4,1004617,9,2666
55 - 59,341084,1342393,0,418,153,58,264906,937,11395
55 - 59,9024,670828,0,18,29,6,826421,5,5186
60 - 64,316968,1263686,0,336,114,31,276096,1055,16901
60 - 64,7166,555915,0,6,7,2,748628,7,9552
65 - 69,201256,856660,1,193,60,13,226889,845,19723
65 - 69,3075,272073,0,1,4,0,460373,2,10317
70 - 74,93791,482306,0,96,22,4,195853,593,25234
70 - 74,731,78883,0,0,0,0,201354,2,9078
75 - 79,38790,223681,0,21,5,6,154343,403,32245
75 - 79,142,17068,0,0,0,0,76863,1,6237
80 - 84,12664,77072,4,10,2,1,91078,172,33252
80 - 84,17,2721,0,0,0,0,23713,0,2908
85 - 89,2106,14354,1,5,0,1,30162,47,16237
85 - 89,0,365,0,0,0,0,4917,0,581
90 - 94,300,2094,0,1,1,0,5811,12,3294
90 - 94,0,65,0,0,0,0,652,0,41
95 이상,90,517,2,3,0,0,1384,4,503
95 이상,0,15,0,0,0,0,116,0,6

In [5]:
def change_index(index):
    if index == "16 - 19":
        return 10
    elif index == "20 - 24" or index == "25 - 29":
        return 20
    elif index == "30 - 34" or index == "35 - 39":
        return 30
    elif index == "40 - 44" or index == "45 - 49":
        return 40
    elif index == "50 - 54" or index == "55 - 59":
        return 50
    elif index == "60 - 64":
        return 60
    else:
        return 65

In [6]:
df_license_21.index = df_license_21.index.map(change_index)

In [7]:
df_license_21

,1종_대형,1종_보통,1종_소형,1종_대형견인,1종_소형견인,1종_구난,2종_보통,2종_소형,2종_원자
age_group,,,,,,,,,
10,724,123916,0,0,0,3,49060,333,11000
10,44,17336,0,0,0,0,76813,9,395
20,57332,716912,0,64,18,135,391550,1465,10511
20,3676,113683,0,3,9,2,697757,104,690
20,122298,1069951,0,154,69,168,458001,1601,8289
20,6901,188130,0,8,34,2,1066862,185,827
30,133178,1152391,0,136,192,139,329439,974,5087
30,7656,296626,0,17,88,1,1021504,104,1046
30,177088,1335502,0,131,325,102,258261,884,5213
30,7628,563504,0,18,149,3,948593,59,1920
40,255592,1502684,0,205,351,105,225427,884,5598
40,8049,793911,0,22,125,2,938875,39,1403
40,314315,1495304,0,390,295,92,240986,775,5854
40,6781,790614,0,36,84,4,978174,14,1426
50,366410,1534050,0,467,235,82,272813,872,7866
50,9193,831175,0,28,51,4,1004617,9,2666
50,341084,1342393,0,418,153,58,264906,937,11395
50,9024,670828,0,18,29,6,826421,5,5186
60,316968,1263686,0,336,114,31,276096,1055,16901
60,7166,555915,0,6,7,2,748628,7,9552
65,201256,856660,1,193,60,13,226889,845,19723
65,3075,272073,0,1,4,0,460373,2,10317
65,93791,482306,0,96,22,4,195853,593,25234
65,731,78883,0,0,0,0,201354,2,9078
65,38790,223681,0,21,5,6,154343,403,32245
65,142,17068,0,0,0,0,76863,1,6237
65,12664,77072,4,10,2,1,91078,172,33252
65,17,2721,0,0,0,0,23713,0,2908
65,2106,14354,1,5,0,1,30162,47,16237
65,0,365,0,0,0,0,4917,0,581
65,300,2094,0,1,1,0,5811,12,3294
65,0,65,0,0,0,0,652,0,41
65,90,517,2,3,0,0,1384,4,503
65,0,15,0,0,0,0,116,0,6

In [8]:
df_license_21["total"] = df_license_21.sum(axis=1)
df_license_21 = df_license_21[["total"]]

In [9]:
df_license_21

             total
age_group
10          185036
10           94597
20         1177987
20          815924
20         1660531
20         1262949
30         1621536
30         1327042
30         1777506
30         1521874
40         1990846
40         1742426
40         2058011
40         1777133
50         2182795
50         1847743
50         1961344
50         1511517
60         1875187
60         1321283
65         1305640
65          745845
65          797899
65          290048
65          449494
65          100311
65          214255
65           29359
65           62913
65            5863
65           11513
65             758
65            2503
65             137

In [10]:
df_license_21.to_csv("./data/pre_driver_license_21.csv", encoding="utf-8")

In [11]:
df = pd.read_csv("./data/pre_driver_license_21.csv", encoding="utf-8")

In [12]:
df

    age_group    total
0          10   185036
1          10    94597
2          20  1177987
3          20   815924
4          20  1660531
5          20  1262949
6          30  1621536
7          30  1327042
8          30  1777506
9          30  1521874
10         40  1990846
11         40  1742426
12         40  2058011
13         40  1777133
14         50  2182795
15         50  1847743
16         50  1961344
17         50  1511517
18         60  1875187
19         60  1321283
20         65  1305640
21         65   745845
22         65   797899
23         65   290048
24         65   449494
25         65   100311
26         65   214255
27         65    29359
28         65    62913
29         65     5863
30         65    11513
31         65      758
32         65     2503
33         65      137