In [1]:
import pandas as pd
import csv

In [2]:
df_traffic_accident = pd.read_csv("traffic_accident.csv", encoding="cp949")

In [3]:
df_traffic_accident = df_traffic_accident[df_traffic_accident["가해자연령층별(1)"] != '불명']
year = ["2018", "2018.1", "2018.2", "2019", "2019.1", "2019.2", "2020", "2020.1", "2020.2", "2021", "2021.1", "2021.2", "2022", "2022.1", "2022.2"]
col = ["가해자연령층별(1)"] + ["월별(1)"] + year
df_traffic_accident = df_traffic_accident[col]

In [4]:
df_traffic_accident.rename(columns={"가해자연령층별(1)": "age_group", "월별(1)": "month", "2018": "total_2018", "2018.1": "dead_2018", "2018.2": "injured_2018", "2019": "total_2019", "2019.1": "dead_2019", "2019.2": "injured_2019", "2020": "total_2020", "2020.1": "dead_2020", "2020.2": "injured_2020", "2021": "total_2021", "2021.1": "dead_2021", "2021.2": "injured_2021", "2022": "total_2022", "2022.1": "dead_2022", "2022.2": "injured_2022"}, inplace=True)
df_traffic_accident = df_traffic_accident.drop(0)
df_traffic_accident = df_traffic_accident[df_traffic_accident["month"] == "전체"]
df_traffic_accident = df_traffic_accident.drop(columns=["month"])

In [5]:
df_traffic_accident["age_group"] = df_traffic_accident["age_group"].replace({"20세이하": 10, "21-30세": 20, "31-40세": 30, "41-50세": 40, "51-60세": 50, "61-64세": 60, "65-70세": 65, "71세이상": 65})
df_traffic_accident = df_traffic_accident.set_index("age_group")

C:\Users\minni\AppData\Local\Temp\ipykernel_154708\3887478302.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_traffic_accident["age_group"] = df_traffic_accident["age_group"].replace({"20세이하": 10, "21-30세": 20, "31-40세": 30, "41-50세": 40, "51-60세": 50, "61-64세": 60, "65-70세": 65, "71세이상": 65})

In [6]:
df_traffic_accident

,total_2018,dead_2018,injured_2018,total_2019,dead_2019,injured_2019,total_2020,dead_2020,injured_2020,total_2021,dead_2021,injured_2021,total_2022,dead_2022,injured_2022
age_group,,,,,,,,,,,,,,,
10,6654,97,9420,7231,95,10488,7099,103,10346,6960,85,9826,6508,72,8863
20,28727,420,44204,30631,376,47618,29775,385,45135,29076,360,42889,26904,335,39706
30,33618,511,50796,34978,429,52847,31606,383,46922,30304,350,44276,28402,317,41287
40,42204,636,63137,43769,584,65421,38036,494,55737,36480,494,52592,33915,409,48389
50,53631,940,80116,55814,790,83076,50421,715,73703,46938,639,67268,44581,570,63632
60,18095,330,27142,19847,305,29513,18175,281,26237,18578,278,26776,19160,297,27566
65,16650,369,24592,18213,308,26965,17087,307,24730,17594,328,25014,19399,349,27792
65,13362,474,18877,15026,461,21258,13985,413,19539,14247,381,19699,15253,386,21489

In [7]:
df_traffic_accident.to_csv("pre_traffic_accident.csv", encoding="utf-8")