In [1]:
import pandas as pd
import numpy as np
import csv

In [2]:
df_license_city = pd.read_excel("traffic_accident_city.xls", engine="xlrd")

In [3]:
df_license_city = df_license_city.iloc[:-1]
df_license_city.rename(columns={"시도": "city"}, inplace=True)
df_license_city = df_license_city.set_index("city")
df_license_city = df_license_city.iloc[1:]

In [4]:
df_license_city["10"] = (df_license_city["2019"] + df_license_city["2020"]  + df_license_city["2021"] + df_license_city["2022"] + df_license_city["2023"]) / 5
df_license_city = df_license_city.drop(columns=["2019", "2020", "2021", "2022", "2023"])
df_license_city["20"] = (df_license_city["2019.1"] + df_license_city["2020.1"]  + df_license_city["2021.1"] + df_license_city["2022.1"] + df_license_city["2023.1"]) / 5
df_license_city = df_license_city.drop(columns=["2019.1", "2020.1", "2021.1", "2022.1", "2023.1"])
df_license_city["30"] = (df_license_city["2019.2"] + df_license_city["2020.2"]  + df_license_city["2021.2"] + df_license_city["2022.2"] + df_license_city["2023.2"]) / 5
df_license_city = df_license_city.drop(columns=["2019.2", "2020.2", "2021.2", "2022.2", "2023.2"])
df_license_city["40"] = (df_license_city["2019.3"] + df_license_city["2020.3"]  + df_license_city["2021.3"] + df_license_city["2022.3"] + df_license_city["2023.3"]) / 5
df_license_city = df_license_city.drop(columns=["2019.3", "2020.3", "2021.3", "2022.3", "2023.3"])
df_license_city["50"] = (df_license_city["2019.4"] + df_license_city["2020.4"]  + df_license_city["2021.4"] + df_license_city["2022.4"] + df_license_city["2023.4"]) / 5
df_license_city = df_license_city.drop(columns=["2019.4", "2020.4", "2021.4", "2022.4", "2023.4"])
df_license_city["60"] = (df_license_city["2019.5"] + df_license_city["2020.5"]  + df_license_city["2021.5"] + df_license_city["2022.5"] + df_license_city["2023.5"]) / 5
df_license_city = df_license_city.drop(columns=["2019.5", "2020.5", "2021.5", "2022.5", "2023.5"])
df_license_city["65"] = (df_license_city["2019.6"] + df_license_city["2020.6"]  + df_license_city["2021.6"] + df_license_city["2022.6"] + df_license_city["2023.6"]) / 5
df_license_city = df_license_city.drop(columns=["2019.6", "2020.6", "2021.6", "2022.6", "2023.6"])
df_license_city = df_license_city.drop(columns=["2019.7", "2020.7", "2021.7", "2022.7", "2023.7"])

In [5]:
df_license_city = df_license_city.transpose()
df_license_city.index.name = "age_group"

In [6]:
df_license_city

city,서울,부산,강원,충북,충남,전북,전남,경북,경남,제주,대구,인천,광주,대전,울산,세종,경기
age_group,,,,,,,,,,,,,,,,,
10,1120.4,363.4,169.6,273.0,269.0,169.8,270.2,355.8,335.0,117.6,469.2,243.4,301.0,199.4,128.8,41.8,1850.4
20,4655.4,1603.6,852.6,1202.4,1255.4,781.8,1080.8,1424.6,1323.2,707.0,1773.0,1190.2,1202.6,1160.8,531.0,127.8,7400.0
30,5673.2,1696.8,833.0,1154.2,1314.4,735.8,1137.8,1564.4,1579.8,662.4,1716.2,1273.4,1084.8,1079.4,602.6,160.6,8323.0
40,6030.4,2018.4,1151.4,1438.2,1570.2,1102.4,1569.6,2089.8,2136.0,806.6,2086.6,1427.0,1337.0,1304.2,731.4,210.6,10115.8
50,7787.8,2625.2,1648.0,1924.4,1971.4,1512.2,2162.8,2931.8,2857.8,892.2,2827.2,1939.6,1667.8,1689.0,929.6,186.0,12862.4
60,3247.0,1140.8,717.0,778.0,754.4,621.2,887.4,1178.0,1123.2,313.4,1110.6,770.8,685.4,697.0,345.4,70.6,4721.0
65,5890.0,2027.0,1313.0,1438.8,1473.2,1361.2,2028.6,2600.4,2020.4,631.4,2040.6,1042.4,1084.4,1132.8,550.2,110.6,7338.6

In [7]:
df_license_city.to_csv("pre_traffic_accident_city.csv", encoding="utf-8")