In [9]:
import pandas as pd
import numpy as np
import csv

In [216]:
df_elderly = pd.read_csv("./data/elderly_people.csv", encoding="cp949")

In [217]:
df_elderly.rename(columns={"행정구역": "city"}, inplace=True)
df_elderly["city"] = df_elderly["city"].replace({"충청북도  (4300000000)": "충북", "충청남도  (4400000000)": "충남", "전라북도  (4500000000)": "전북", "전라남도  (4600000000)": "전남", "경상북도  (4700000000)": "경북", "경상남도  (4800000000)": "경남"})
df_elderly["city"] = df_elderly["city"].str[:2]
df_elderly = df_elderly.set_index("city")

In [218]:
df_elderly

,2019년01월_전체,2019년01월_남자,2019년01월_여자,2019년01월_65세이상전체,2019년01월_65세이상남자,2019년01월_65세이상여자,2019년02월_전체,2019년02월_남자,2019년02월_여자,2019년02월_65세이상전체,...,2023년11월_여자,2023년11월_65세이상전체,2023년11월_65세이상남자,2023년11월_65세이상여자,2023년12월_전체,2023년12월_남자,2023년12월_여자,2023년12월_65세이상전체,2023년12월_65세이상남자,2023년12월_65세이상여자
city,,,,,,,,,,,,,,,,,,,,,
전국,"51,826,287","25,865,518","25,960,769","7,680,143","3,288,108","4,392,035","51,829,538","25,866,255","25,963,283","7,710,310",...,"25,764,381","9,688,859","4,276,546","5,412,313","51,325,329","25,565,736","25,759,593","9,730,411","4,296,967","5,433,444"
서울,"9,766,288","4,772,822","4,993,466","1,416,167","624,781","791,386","9,770,638","4,773,605","4,997,033","1,421,956",...,"4,847,870","1,727,082","764,834","962,248","9,386,034","4,540,031","4,846,003","1,733,580","767,705","965,875"
부산,"3,438,259","1,690,527","1,747,732","592,362","256,629","335,733","3,436,230","1,689,253","1,746,977","594,861",...,"1,688,816","742,125","324,876","417,249","3,293,362","1,605,431","1,687,931","745,199","326,296","418,903"
대구,"2,460,382","1,218,478","1,241,904","364,537","153,475","211,062","2,458,138","1,217,209","1,240,929","366,000",...,"1,208,564","464,186","199,721","264,465","2,374,960","1,166,803","1,208,157","466,338","200,733","265,605"
인천,"2,955,916","1,482,441","1,473,475","364,582","157,813","206,769","2,956,063","1,482,440","1,473,623","366,317",...,"1,496,261","494,156","220,302","273,854","2,997,410","1,499,016","1,498,394","497,057","221,682","275,375"
광주,"1,459,832","722,902","736,930","187,753","79,366","108,387","1,459,208","722,689","736,519","188,322",...,"719,177","232,893","100,523","132,370","1,419,237","700,896","718,341","233,878","101,021","132,857"
대전,"1,488,725","743,851","744,874","189,282","82,375","106,907","1,487,605","743,135","744,470","190,098",...,"723,301","243,555","108,149","135,406","1,442,216","719,292","722,924","244,756","108,705","136,051"
울산,"1,154,786","593,436","561,350","124,597","55,809","68,788","1,153,735","592,853","560,882","125,320",...,"536,607","174,541","80,751","93,790","1,103,661","567,153","536,508","175,709","81,331","94,378"
세종,"316,814","158,090","158,724","29,402","12,530","16,872","320,326","159,860","160,466","29,630",...,"193,860","42,336","18,998","23,338","386,525","192,524","194,001","42,560","19,097","23,463"
경기,"13,090,648","6,584,729","6,505,919","1,559,910","678,934","880,976","13,104,696","6,592,095","6,512,601","1,567,653",...,"6,773,094","2,111,321","949,116","1,162,205","13,630,821","6,855,895","6,774,926","2,122,718","954,617","1,168,101"
강원,"1,541,693","775,683","766,010","290,428","123,467","166,961","1,540,445","774,988","765,457","291,589",...,"759,725","365,198","162,203","202,995","1,527,807","768,449","759,358","366,555","162,933","203,622"
충북,"1,599,155","809,020","790,135","262,645","111,567","151,078","1,598,868","808,975","789,893","263,706",...,"783,304","330,884","147,294","183,590","1,593,469","810,448","783,021","332,237","147,900","184,337"
충남,"2,125,797","1,081,976","1,043,821","373,504","158,309","215,195","2,125,372","1,082,148","1,043,224","374,498",...,"1,038,496","452,836","199,985","252,851","2,130,119","1,091,570","1,038,549","454,534","201,020","253,514"
전북,"1,834,532","912,117","922,415","359,207","148,771","210,436","1,832,227","911,110","921,117","360,016",...,"882,105","422,076","182,040","240,036","1,754,757","873,419","881,338","423,128","182,598","240,530"
전남,"1,878,904","941,188","937,716","413,359","167,166","246,193","1,875,862","939,624","936,238","413,871",...,"895,131","469,842","200,705","269,137","1,804,217","909,548","894,669","470,874","201,334","269,540"
경북,"2,674,005","1,345,392","1,328,613","530,956","220,392","310,564","2,671,587","1,344,344","1,327,243","532,773",...,"1,264,999","628,357","273,513","354,844","2,554,324","1,290,298","1,264,026","630,486","274,688","355,798"
경남,"3,373,214","1,697,053","1,676,161","524,963","216,565","308,398","3,371,016","1,696,062","1,674,954","526,990",...,"1,615,491","666,722","290,944","375,778","3,251,158","1,636,987","1,614,171","669,646","292,529","377,117"
제주,"667,337","335,813","331,524","96,489","40,159","56,330","667,522","335,865","331,657","96,710",...,"337,580","120,749","52,592","68,157","675,252","337,976","337,276","121,156","52,778","68,378"

In [219]:
filtered_columns = [col for col in df_elderly.columns if "전체" in col]
df_elderly = df_elderly[filtered_columns]

In [220]:
df_elderly

,2019년01월_전체,2019년01월_65세이상전체,2019년02월_전체,2019년02월_65세이상전체,2019년03월_전체,2019년03월_65세이상전체,2019년04월_전체,2019년04월_65세이상전체,2019년05월_전체,2019년05월_65세이상전체,...,2023년08월_전체,2023년08월_65세이상전체,2023년09월_전체,2023년09월_65세이상전체,2023년10월_전체,2023년10월_65세이상전체,2023년11월_전체,2023년11월_65세이상전체,2023년12월_전체,2023년12월_65세이상전체
city,,,,,,,,,,,,,,,,,,,,,
전국,"51,826,287","7,680,143","51,829,538","7,710,310","51,833,175","7,748,488","51,836,763","7,773,471","51,840,339","7,804,999",...,"51,377,213","9,569,180","51,370,001","9,611,193","51,354,226","9,652,413","51,337,076","9,688,859","51,325,329","9,730,411"
서울,"9,766,288","1,416,167","9,770,638","1,421,956","9,770,216","1,429,163","9,766,886","1,433,709","9,762,062","1,439,124",...,"9,409,466","1,708,567","9,407,540","1,715,409","9,400,249","1,721,930","9,390,925","1,727,082","9,386,034","1,733,580"
부산,"3,438,259","592,362","3,436,230","594,861","3,434,091","597,928","3,431,750","599,782","3,429,595","602,304",...,"3,302,740","733,496","3,300,836","736,527","3,298,213","739,632","3,295,496","742,125","3,293,362","745,199"
대구,"2,460,382","364,537","2,458,138","366,000","2,455,829","367,661","2,454,154","368,800","2,452,291","370,113",...,"2,378,464","458,385","2,377,801","460,355","2,376,978","462,444","2,376,044","464,186","2,374,960","466,338"
인천,"2,955,916","364,582","2,956,063","366,317","2,956,513","368,492","2,956,700","370,123","2,957,179","372,051",...,"2,985,152","485,634","2,987,918","488,753","2,990,276","491,628","2,993,492","494,156","2,997,410","497,057"
광주,"1,459,832","187,753","1,459,208","188,322","1,458,930","189,078","1,458,940","189,567","1,459,003","190,385",...,"1,423,810","230,162","1,422,999","231,100","1,421,760","231,959","1,420,822","232,893","1,419,237","233,878"
대전,"1,488,725","189,282","1,487,605","190,098","1,486,647","191,206","1,485,509","191,811","1,484,398","192,784",...,"1,444,837","240,705","1,444,595","241,684","1,443,965","242,780","1,443,106","243,555","1,442,216","244,756"
울산,"1,154,786","124,597","1,153,735","125,320","1,152,800","126,194","1,152,293","126,825","1,151,685","127,639",...,"1,104,448","171,432","1,104,167","172,456","1,104,031","173,513","1,103,752","174,541","1,103,661","175,709"
세종,"316,814","29,402","320,326","29,630","322,693","29,948","324,417","30,164","325,777","30,375",...,"385,953","41,671","385,932","41,863","386,079","42,120","386,256","42,336","386,525","42,560"
경기,"13,090,648","1,559,910","13,104,696","1,567,653","13,116,579","1,576,950","13,129,508","1,583,503","13,145,482","1,591,552",...,"13,624,964","2,077,684","13,626,339","2,089,181","13,627,840","2,100,758","13,628,135","2,111,321","13,630,821","2,122,718"
강원,"1,541,693","290,428","1,540,445","291,589","1,540,488","293,024","1,540,794","293,931","1,540,776","294,876",...,"1,531,390","361,166","1,530,712","362,564","1,529,500","363,849","1,528,635","365,198","1,527,807","366,555"
충북,"1,599,155","262,645","1,598,868","263,706","1,598,775","265,021","1,599,488","265,896","1,599,854","267,017",...,"1,594,337","327,032","1,594,326","328,456","1,594,211","329,768","1,594,038","330,884","1,593,469","332,237"
충남,"2,125,797","373,504","2,125,372","374,498","2,125,778","376,032","2,125,912","377,081","2,125,732","378,443",...,"2,127,077","448,333","2,127,630","449,941","2,128,563","451,428","2,129,591","452,836","2,130,119","454,534"
전북,"1,834,532","359,207","1,832,227","360,016","1,830,499","361,140","1,829,273","361,845","1,827,871","362,962",...,"1,759,815","418,597","1,758,661","419,812","1,757,295","421,014","1,756,183","422,076","1,754,757","423,128"
전남,"1,878,904","413,359","1,875,862","413,871","1,874,232","414,807","1,873,183","415,254","1,871,718","416,222",...,"1,808,339","465,960","1,807,295","467,390","1,805,823","468,698","1,804,875","469,842","1,804,217","470,874"
경북,"2,674,005","530,956","2,671,587","532,773","2,671,036","535,173","2,670,375","536,512","2,669,731","538,217",...,"2,561,623","622,667","2,559,924","624,685","2,558,085","626,657","2,556,262","628,357","2,554,324","630,486"
경남,"3,373,214","524,963","3,371,016","526,990","3,369,949","529,701","3,368,933","531,474","3,367,857","533,320",...,"3,258,309","658,537","3,257,009","661,279","3,255,239","663,971","3,253,619","666,722","3,251,158","669,646"
제주,"667,337","96,489","667,522","96,710","668,120","96,970","668,648","97,194","669,328","97,615",...,"676,489","119,152","676,317","119,738","676,119","120,264","675,845","120,749","675,252","121,156"

In [221]:
for col in df_elderly.columns:
    if df_elderly[col].dtype == "object":
        df_elderly[col] = df_elderly[col].str.replace(",", "")
        df_elderly[col] = pd.to_numeric(df_elderly[col], errors='coerce')

C:\Users\minni\AppData\Local\Temp\ipykernel_113828\21751271.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_elderly[col] = df_elderly[col].str.replace(",", "")
C:\Users\minni\AppData\Local\Temp\ipykernel_113828\21751271.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_elderly[col] = pd.to_numeric(df_elderly[col], errors='coerce')

In [222]:
df_elderly

,2019년01월_전체,2019년01월_65세이상전체,2019년02월_전체,2019년02월_65세이상전체,2019년03월_전체,2019년03월_65세이상전체,2019년04월_전체,2019년04월_65세이상전체,2019년05월_전체,2019년05월_65세이상전체,...,2023년08월_전체,2023년08월_65세이상전체,2023년09월_전체,2023년09월_65세이상전체,2023년10월_전체,2023년10월_65세이상전체,2023년11월_전체,2023년11월_65세이상전체,2023년12월_전체,2023년12월_65세이상전체
city,,,,,,,,,,,,,,,,,,,,,
전국,51826287,7680143,51829538,7710310,51833175,7748488,51836763,7773471,51840339,7804999,...,51377213,9569180,51370001,9611193,51354226,9652413,51337076,9688859,51325329,9730411
서울,9766288,1416167,9770638,1421956,9770216,1429163,9766886,1433709,9762062,1439124,...,9409466,1708567,9407540,1715409,9400249,1721930,9390925,1727082,9386034,1733580
부산,3438259,592362,3436230,594861,3434091,597928,3431750,599782,3429595,602304,...,3302740,733496,3300836,736527,3298213,739632,3295496,742125,3293362,745199
대구,2460382,364537,2458138,366000,2455829,367661,2454154,368800,2452291,370113,...,2378464,458385,2377801,460355,2376978,462444,2376044,464186,2374960,466338
인천,2955916,364582,2956063,366317,2956513,368492,2956700,370123,2957179,372051,...,2985152,485634,2987918,488753,2990276,491628,2993492,494156,2997410,497057
광주,1459832,187753,1459208,188322,1458930,189078,1458940,189567,1459003,190385,...,1423810,230162,1422999,231100,1421760,231959,1420822,232893,1419237,233878
대전,1488725,189282,1487605,190098,1486647,191206,1485509,191811,1484398,192784,...,1444837,240705,1444595,241684,1443965,242780,1443106,243555,1442216,244756
울산,1154786,124597,1153735,125320,1152800,126194,1152293,126825,1151685,127639,...,1104448,171432,1104167,172456,1104031,173513,1103752,174541,1103661,175709
세종,316814,29402,320326,29630,322693,29948,324417,30164,325777,30375,...,385953,41671,385932,41863,386079,42120,386256,42336,386525,42560
경기,13090648,1559910,13104696,1567653,13116579,1576950,13129508,1583503,13145482,1591552,...,13624964,2077684,13626339,2089181,13627840,2100758,13628135,2111321,13630821,2122718
강원,1541693,290428,1540445,291589,1540488,293024,1540794,293931,1540776,294876,...,1531390,361166,1530712,362564,1529500,363849,1528635,365198,1527807,366555
충북,1599155,262645,1598868,263706,1598775,265021,1599488,265896,1599854,267017,...,1594337,327032,1594326,328456,1594211,329768,1594038,330884,1593469,332237
충남,2125797,373504,2125372,374498,2125778,376032,2125912,377081,2125732,378443,...,2127077,448333,2127630,449941,2128563,451428,2129591,452836,2130119,454534
전북,1834532,359207,1832227,360016,1830499,361140,1829273,361845,1827871,362962,...,1759815,418597,1758661,419812,1757295,421014,1756183,422076,1754757,423128
전남,1878904,413359,1875862,413871,1874232,414807,1873183,415254,1871718,416222,...,1808339,465960,1807295,467390,1805823,468698,1804875,469842,1804217,470874
경북,2674005,530956,2671587,532773,2671036,535173,2670375,536512,2669731,538217,...,2561623,622667,2559924,624685,2558085,626657,2556262,628357,2554324,630486
경남,3373214,524963,3371016,526990,3369949,529701,3368933,531474,3367857,533320,...,3258309,658537,3257009,661279,3255239,663971,3253619,666722,3251158,669646
제주,667337,96489,667522,96710,668120,96970,668648,97194,669328,97615,...,676489,119152,676317,119738,676119,120264,675845,120749,675252,121156

In [223]:
df_elderly["total_2019"] = df_elderly.filter(regex=r"2019년\d{2}월_전체").sum(axis=1)
df_elderly["total_elderly_2019"] = df_elderly.filter(regex=r"2019년\d{2}월_65세이상전체").sum(axis=1)
df_elderly["total_2020"] = df_elderly.filter(regex=r"2020년\d{2}월_전체").sum(axis=1)
df_elderly["total_elderly_2020"] = df_elderly.filter(regex=r"2020년\d{2}월_65세이상전체").sum(axis=1)
df_elderly["total_2021"] = df_elderly.filter(regex=r"2021년\d{2}월_전체").sum(axis=1)
df_elderly["total_elderly_2021"] = df_elderly.filter(regex=r"2021년\d{2}월_65세이상전체").sum(axis=1)
df_elderly["total_2022"] = df_elderly.filter(regex=r"2022년\d{2}월_전체").sum(axis=1)
df_elderly["total_elderly_2022"] = df_elderly.filter(regex=r"2022년\d{2}월_65세이상전체").sum(axis=1)
df_elderly["total_2023"] = df_elderly.filter(regex=r"2023년\d{2}월_전체").sum(axis=1)
df_elderly["total_elderly_2023"] = df_elderly.filter(regex=r"2023년\d{2}월_65세이상전체").sum(axis=1)
df_elderly_5 = df_elderly[["total_2019", "total_elderly_2019", "total_2020", "total_elderly_2020", "total_2021", "total_elderly_2021", "total_2022", "total_elderly_2022", "total_2023", "total_elderly_2023"]]

C:\Users\minni\AppData\Local\Temp\ipykernel_113828\1082379497.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_elderly["total_2019"] = df_elderly.filter(regex=r"2019년\d{2}월_전체").sum(axis=1)
C:\Users\minni\AppData\Local\Temp\ipykernel_113828\1082379497.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_elderly["total_2019"] = df_elderly.filter(regex=r"2019년\d{2}월_전체").sum(axis=1)
C:\Users\minni\AppData\Local\Temp\ipykernel_113828\1082379497.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_elderly["total_elderly_2019"] = df_elderly.filter(regex=r"2019년\d{2}월_65세이상전체").sum(axis=1)
C:\Users\minni\AppData\Local\Temp\ipykernel_113828\1082379497.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_elderly["total_elderly_2019"] = df_elderly.filter(regex=r"2019년\d{2}월_65세이상전체").sum(axis=1)
C:\Users\minni\AppData\Local\Temp\ipykernel_113828\1082379497.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_elderly["total_2020"] = df_elderly.filter(regex=r"2020년\d{2}월_전체").sum(axis=1)
C:\Users\minni\AppData\Local\Temp\ipykernel_113828\1082379497.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_elderly["total_2020"] = df_elderly.filter(regex=r"2020년\d{2}월_전체").sum(axis=1)
C:\Users\minni\AppData\Local\Temp\ipykernel_113828\1082379497.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_elderly["total_elderly_2020"] = df_elderly.filter(regex=r"2020년\d{2}월_65세이상전체").sum(axis=1)
C:\Users\minni\AppData\Local\Temp\ipykernel_113828\1082379497.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_elderly["total_elderly_2020"] = df_elderly.filter(regex=r"2020년\d{2}월_65세이상전체").sum(axis=1)
C:\Users\minni\AppData\Local\Temp\ipykernel_113828\1082379497.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_elderly["total_2021"] = df_elderly.filter(regex=r"2021년\d{2}월_전체").sum(axis=1)
C:\Users\minni\AppData\Local\Temp\ipykernel_113828\1082379497.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_elderly["total_2021"] = df_elderly.filter(regex=r"2021년\d{2}월_전체").sum(axis=1)
C:\Users\minni\AppData\Local\Temp\ipykernel_113828\1082379497.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_elderly["total_elderly_2021"] = df_elderly.filter(regex=r"2021년\d{2}월_65세이상전체").sum(axis=1)
C:\Users\minni\AppData\Local\Temp\ipykernel_113828\1082379497.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_elderly["total_elderly_2021"] = df_elderly.filter(regex=r"2021년\d{2}월_65세이상전체").sum(axis=1)
C:\Users\minni\AppData\Local\Temp\ipykernel_113828\1082379497.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_elderly["total_2022"] = df_elderly.filter(regex=r"2022년\d{2}월_전체").sum(axis=1)
C:\Users\minni\AppData\Local\Temp\ipykernel_113828\1082379497.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_elderly["total_2022"] = df_elderly.filter(regex=r"2022년\d{2}월_전체").sum(axis=1)
C:\Users\minni\AppData\Local\Temp\ipykernel_113828\1082379497.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_elderly["total_elderly_2022"] = df_elderly.filter(regex=r"2022년\d{2}월_65세이상전체").sum(axis=1)
C:\Users\minni\AppData\Local\Temp\ipykernel_113828\1082379497.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_elderly["total_elderly_2022"] = df_elderly.filter(regex=r"2022년\d{2}월_65세이상전체").sum(axis=1)
C:\Users\minni\AppData\Local\Temp\ipykernel_113828\1082379497.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_elderly["total_2023"] = df_elderly.filter(regex=r"2023년\d{2}월_전체").sum(axis=1)
C:\Users\minni\AppData\Local\Temp\ipykernel_113828\1082379497.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_elderly["total_2023"] = df_elderly.filter(regex=r"2023년\d{2}월_전체").sum(axis=1)
C:\Users\minni\AppData\Local\Temp\ipykernel_113828\1082379497.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_elderly["total_elderly_2023"] = df_elderly.filter(regex=r"2023년\d{2}월_65세이상전체").sum(axis=1)
C:\Users\minni\AppData\Local\Temp\ipykernel_113828\1082379497.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_elderly["total_elderly_2023"] = df_elderly.filter(regex=r"2023년\d{2}월_65세이상전체").sum(axis=1)

In [215]:
df_elderly_5

,total_2019,total_elderly_2019,total_2020,total_elderly_2020,total_2021,total_elderly_2021,total_2022,total_elderly_2022,total_2023,total_elderly_2023
city,,,,,,,,,,
전국,622103134,94235545,622081566,99647892,620376280,104206149,618572327,109021595,616618177,114226704
서울,117027908,17371062,116536558,18347421,114848517,18920174,113754692,19604875,112940022,20398435
부산,41117018,7273963,40841043,7707345,40391333,8034066,40005131,8387523,39668517,8763106
대구,29395093,4464031,29138950,4705779,28791286,4917219,28485955,5129954,28417192,5417337
인천,35480811,4495679,35370992,4803642,35286948,5092554,35496636,5412625,35784748,5782466
광주,17508236,2297786,17453055,2418266,17326611,2514959,17226143,2619789,17096366,2744473
대전,17787945,2328339,17639826,2470685,17479896,2598907,17381593,2730983,17336378,2871441
울산,13814008,1543290,13699729,1666346,13519359,1780896,13381994,1906287,13271465,2042430
세종,3949401,368260,4168569,402240,4370198,436106,4558695,468345,4630328,497757
경기,158010019,19258330,160130213,20684943,162115160,22000612,162972975,23318397,163401076,24760030
강원,18491064,3559946,18483276,3753689,18449823,3921200,18459929,4112814,18382307,4311398
충북,19193056,3219292,19180798,3382970,19168094,3544446,19158631,3723098,19128617,3905569
충남,25502440,4562354,25443690,4771560,25418563,4960524,25444896,5154758,25518348,5357619
전북,21914894,4377487,21712692,4558034,21529604,4706483,21327284,4854698,21137014,5005882
전남,22445723,5012191,22262776,5162966,22087734,5289773,21901654,5424313,21723525,5574501
경북,32027555,6486203,31764555,6765223,31584087,7037825,31346040,7308495,30911210,7506621
경남,40403275,6437521,40190380,6802897,39902753,7148864,39535047,7503607,39151614,7864863
제주,8034688,1179811,8064464,1243886,8106314,1301541,8135032,1361034,8119450,1422776

In [224]:
df_elderly_5.to_csv("./data/pre_elderly_people.csv", encoding="utf-8")

In [225]:
df = pd.read_csv("./data/pre_elderly_people.csv", encoding="utf-8")

In [226]:
df

,city,total_2019,total_elderly_2019,total_2020,total_elderly_2020,total_2021,total_elderly_2021,total_2022,total_elderly_2022,total_2023,total_elderly_2023
0,전국,622103134,94235545,622081566,99647892,620376280,104206149,618572327,109021595,616618177,114226704
1,서울,117027908,17371062,116536558,18347421,114848517,18920174,113754692,19604875,112940022,20398435
2,부산,41117018,7273963,40841043,7707345,40391333,8034066,40005131,8387523,39668517,8763106
3,대구,29395093,4464031,29138950,4705779,28791286,4917219,28485955,5129954,28417192,5417337
4,인천,35480811,4495679,35370992,4803642,35286948,5092554,35496636,5412625,35784748,5782466
5,광주,17508236,2297786,17453055,2418266,17326611,2514959,17226143,2619789,17096366,2744473
6,대전,17787945,2328339,17639826,2470685,17479896,2598907,17381593,2730983,17336378,2871441
7,울산,13814008,1543290,13699729,1666346,13519359,1780896,13381994,1906287,13271465,2042430
8,세종,3949401,368260,4168569,402240,4370198,436106,4558695,468345,4630328,497757
9,경기,158010019,19258330,160130213,20684943,162115160,22000612,162972975,23318397,163401076,24760030
10,강원,18491064,3559946,18483276,3753689,18449823,3921200,18459929,4112814,18382307,4311398
11,충북,19193056,3219292,19180798,3382970,19168094,3544446,19158631,3723098,19128617,3905569
12,충남,25502440,4562354,25443690,4771560,25418563,4960524,25444896,5154758,25518348,5357619
13,전북,21914894,4377487,21712692,4558034,21529604,4706483,21327284,4854698,21137014,5005882
14,전남,22445723,5012191,22262776,5162966,22087734,5289773,21901654,5424313,21723525,5574501
15,경북,32027555,6486203,31764555,6765223,31584087,7037825,31346040,7308495,30911210,7506621
16,경남,40403275,6437521,40190380,6802897,39902753,7148864,39535047,7503607,39151614,7864863
17,제주,8034688,1179811,8064464,1243886,8106314,1301541,8135032,1361034,8119450,1422776